__pycache__/
*.pyc
Ideas, concepts/
env/
runstats.file
*.sav
Tests/
saves/
dist/
build/
*.spec
main.exe
main/
main.spec
profiling/
.venv
*.prof
.vscode
.mypy_cache
*.txt
!requirements.txt
.dmypy.json
mypy.ini
build.bat
